.header {
  margin-bottom: var(--space-md);
  padding: var(--space-md);
}

.logo {
  --logo-height: 100px;
  --logo-font-size: 62px;

  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  cursor: pointer;
}

.logo img {
  height: var(--logo-height);
}

.logo h1 {
  font-family: "DancingScript";
  font-size: var(--logo-font-size);
  font-weight: 600;
  color: var(--color-secondary);
}
