.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.noSearchNotification {
  font-size: var(--font-size-lg);
}

@media (max-width: 646px) {
  .main {
    padding: 0 var(--space-md);
  }
}
