.container {
  --article-width: 300px;

  position: relative;
  width: var(--article-width);
  text-align: center;
  overflow: hidden;
}

.container:hover {
  cursor: pointer;
}

.heightInCm {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-xs) var(--space-sm);

  font-weight: var(--font-weight-lg);
  color: white;

  background-color: var(--color-primary);

  z-index: 10;
}

.imageWrapper {
  position: relative;
  display: flex;

  overflow: hidden;
}

.imageFantasy {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--font-size-xxl);

  z-index: 9;

  opacity: 0;
  transition: var(--animation-transition);
}

.image {
  width: 100%;
  background-color: var(--flower-card-background-color);
  transition: var(--animation-transition);
}

.container:hover .imageFantasy {
  opacity: 0.7;
}

.container:hover .image {
  transform: scale(1.8) rotate(10deg);
  filter: grayscale(0.8);
}

.infoContainer {
  padding: var(--space-md) 0 var(--space-sm) 0;
}

.name {
  font-size: var(--font-size-lg);
}

.binomialName {
  font-size: var(--font-size-md);
  color: var(--color-gray);
}

.price {
  margin-top: var(--space-sm);
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}
