.main {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
}

.imgContainer,
.detailsContainer {
  width: 50%;
  padding: 0 var(--space-md);
}

.imgContainer {
  display: flex;
  justify-content: right;
}

.imgContainer img {
  width: 60%;
  object-fit: cover;
}

.detailsName {
  font-size: var(--font-size-xl);
}

.detailsBinomialName {
  margin-top: var(--space-sm);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}

.detailsPrice {
  margin-top: var(--space-md);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lg);
  color: var(--color-primary);
}

.detailsHeightInCm {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.detailsWateringsPerWeek {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.detailsFertilizerType {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.detailsButton {
  margin-top: var(--space-lg);
  padding: var(--space-sm) var(--space-md);

  background-color: var(--color-primary);
  border: none;

  color: white;
  font-size: var(--font-size-lg);

  cursor: pointer;

  transition: var(--animation-transition);
}

.detailsButton:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);

  color: var(--color-primary);
}

@media (max-width: 576px) {
  .main {
    padding: 0 var(--space-md);
    flex-direction: column;
  }

  .imgContainer {
    width: 100%;
  }

  .imgContainer img {
    width: 100%;
  }

  .detailsContainer {
    width: 100%;
    padding: var(--space-md);
    padding-bottom: var(--space-lg);
  }

  .detailsName,
  .detailsPrice,
  .detailsBinomialName {
    text-align: center;
  }
}
