.mainContainer {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
}

.imageContainer,
.sheetContainer {
  width: 50%;
  padding: 0 var(--space-md);
}

.imageContainer {
  display: flex;
  justify-content: right;
}

.image {
  width: 60%;
  object-fit: cover;
}

.sheetName {
  font-size: var(--font-size-xl);
}

.sheetBinomialName {
  margin-top: var(--space-sm);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}

.sheetPrice {
  margin-top: var(--space-md);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lg);
  color: var(--color-primary);
}

.sheetHeightInCm {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.sheetWateringsPerWeek {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.sheetFertilizerType {
  margin-top: var(--space-md);
  font-size: var(--font-size-lg);
}

.sheetButton {
  margin-top: var(--space-lg);
  padding: var(--space-sm) var(--space-md);

  background-color: var(--color-primary);
  border: none;

  color: white;
  font-size: var(--font-size-lg);

  cursor: pointer;

  transition: var(--animation-transition);
}

.sheetButton:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);

  color: var(--color-primary);
}

@media (max-width: 576px) {
  .mainContainer {
    padding: 0 var(--space-md);
    flex-direction: column;
  }

  .imageContainer,
  .image {
    width: 100%;
  }

  .sheetContainer {
    width: 100%;
    padding: var(--space-md);
    padding-bottom: var(--space-lg);
  }

  .sheetName,
  .sheetPrice,
  .sheetBinomialName {
    text-align: center;
  }
}
