.mainHeader {
  margin-bottom: var(--space-md);
  padding: var(--space-md) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  --logo-height: 50px;
  --logo-font-size: var(--font-size-xl);

  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  cursor: pointer;
}

.logoImage {
  height: var(--logo-height);
}

.logoName {
  font-family: "DancingScript";
  font-size: var(--logo-font-size);
  font-weight: var(--font-weight-lg);
  color: var(--color-secondary);
}

.themeButton {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.themeButton:hover {
  background-color: var(--flower-card-background-color) !important;
}
