.inputWrapper {
  width: 100%;
  margin-bottom: var(--space-xl);
  padding: 0 12rem;
}

.input {
  width: 100%;
  padding: var(--space-md);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--color-gray);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus-visible {
  outline: none;
}

@media (max-width: 646px) {
  .inputWrapper {
    padding: 0 var(--space-lg);
  }
}
