.inputContainer {
  width: 100%;
  margin-bottom: 4rem;
  padding: 0 12rem;
}

.input {
  width: 100%;
  padding: var(--space-md);
  border: none;
  border-bottom: 2px solid var(--color-gray);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus-visible {
  outline: none;
}
