.header {
  margin-bottom: var(--space-md);
  padding: var(--space-md);
}

.logo {
  --logo-height: 80px;
  --logo-font-size: 48px;

  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  cursor: pointer;
}

.logoImage {
  height: var(--logo-height);
}

.logoName {
  font-family: "DancingScript";
  font-size: var(--logo-font-size);
  font-weight: var(--font-weight-lg);
  color: var(--color-secondary);
}

@media (max-width: 646px) {
  .logo {
    --logo-height: 50px;
    --logo-font-size: var(--font-size-xl);
  }
}
