:root {
  --color-primary: #e18787;

  --color-gray-light: #cccccc;
  --color-gray: #aaaaaa;

  --text-color: #1a1a1a;

  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  --background-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  font-size: var(--font-size-md);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
